/*body{
	background:linear-gradient(to right,#000000,red);
	margin:0px;
	
}*/
.index-bg{
	background-image:url(lamp.png);
	background-repeat:no-repeat;
	background-size:100%;
}
nav ul{
	margin:5px;
	padding:0%;
	
}
nav ul li{
	background:grey;
	list-style:none;
	float:left;
	margin:5px;
	padding:1%;
}
/*main{
	background-image:url(library.png);
	background-size:100%;
	background-repeat:no-repeat;
	width:1350px;
	height:550px;
	text-align:center;
	
	
}*/


.intro {

	color:#ffffff;
	text-align:center;
	padding:30px;
	font-size:18px;

	
}

.intro h1{
	font-size:60px;
	/*background:linear-gradient(to right, red, #000000);*/
    color:#ffffff;

}

.intro p{
	background-color:#000000;
	opacity:0.6;
}
















.port-bg{
	background:linear-gradient(to right,#000000,red);
	margin:0px;
}


.place{
	margin-left:33%;
	color:#ffffff;
	display:flex;
	
}

.change{
	flex:coloumn;
}
	

.contact{
	margin-top:30px;
	
}

.cv{
	margin-top:30px;
	;
}
.sitereport{
	margin-top:30px;
	
}









.contacta-bg{
	background:linear-gradient(to right,#000000,red);
	margin:0px;
}

.contact{
	font-size:20px;
	background-color:#000000;
	color:#ffffff;
	text-align:center;
}
.contact h1{
	font-size:40px;
	background:linear-gradient(to right,red,#000000);
}

.fname{
	display:flex;
	
}


.name{
	color:#ffffff;
	margin-left:110px;
	font-size:30px;
	

}

	

.adress{
	color:#ffffff;
	margin-left:90px;
	font-size:20px;
}
.mage{
	

	margin-left:70px;
}

form input[type="radio"]{
	display:none;
	
}
 .summit{
	height:60px;
	margin:45px 0;
}
.sumit input{
	width:100%;
	height:100%;
	background:linear-gradient(to right,red,#000000);
	outline:none;
	color:#ffffff;
	font-size:20px;
}
.sumit input:hover{
	background:linear-gradient(to right,blue,red);
}









.cv-bg{
	background:linear-gradient(to right,#000000,red);
	margin:0px;
}

*{
	box-sizing: border-box;
}

.container{
	display: grid;
	grid-template-columns: 500px auto auto auto;
	grid-template-rows: 50px auto auto auto;
	/*grid-gap:10px;*/
	padding: 10px;
	text-align:justify;

}
.container> div{
	background-color:white;
}
.top{
	color:#ffffff;
	grid-column:1/5;
	text-align:center;
	padding: 10px;
	font-size:40px;
	background:linear-gradient(to right,grey,#000000)

	
}
.item1{
	color:#ffffff;
	grid-row:2/4;
	padding:10px;
    background:linear-gradient(to right,grey,#000000);
	
}
.item2{
	color:#000000;
	grid-column:2/5;
	grid-row:2/3;
	padding:10px;
	
	/*background:linear-gradient(to right,red,#000000)*/
}
.item3{
	color:#000000;
	grid-column-start:2;
	/*background:linear-gradient(to right,red,#000000);*/
	padding:10px;
	

}
.item4{
	color:#000000;
	grid-column:4/3;
    /*background:linear-gradient(to right,red,#000000);*/
	padding:10px;
	
}

.foot{
	text-align:center;
	color:#000000;
	grid-column:1/4;
	/*background:linear-gradient(to right,red,#000000);*/
	padding:10px;
	font-size:20px;
	
}
.item2 h1{
	text-align:center;
	background-color:#000000;
	color:#ffffff;
	font-size:50px;
}
.item3 h1{
	text-align:center;
	background-color:#000000;
	color:#ffffff;
	font-size:50px;
	
}
.item4 h1{
	text-align:center;
	background-color:#000000;
	color:#ffffff;
	font-size:50px;
	
}
.foot h1{
	font-size:50px;
	text-align:center;
	background-color:#000000;
	color:#ffffff;
}









.siter-bg{
	background:linear-gradient(to right,#000000,red);
	margin:0px;
}

.site{
	color:#ffffff;
	text-align:center;
}



.date{
	color:#ffffff;
}


.sec{
	display:grid;
	grid-template-columns:500px auto auto  auto;
	grid-template-rows:50px auto auto auto ;
	grid-gap:10px;
	padding: 10px;
	text-align:justify;
	box-sizing:border-box;
	
}
.sec> div{
	background-color:#000000;
}
.topic{
	grid-column:1/5;
	
    color:#ffffff;
	padding:10px;
	text-align:center;
	font-size:34px;
	
}

.topic1{
	grid-row:3/6;
	background-color:#000000;
	text-align:center;
	color:#ffffff;
	padding:10px;
}
.topic1 h1{
	color:#ffffff;
    background:linear-gradient(to right,red,#000000);
}
.topic2{
	grid-column:2/4;
	grid-row:3/4;
	padding:10px;
	color:#ffffff;
	text-align:center;
}
.topic2 h1{
	color:#ffffff;
    background:linear-gradient(to right,red,#000000);
}
.topic3{
	grid-row:4/5;
	grid-column:2/4;
	padding:10px;
	color:#ffffff;
	
}
.topic3 h1{
	color:#ffffff;
    background:linear-gradient(to right,red,#000000);
}
.topic4{
	grid-row:5/5;
	grid-column:2/4;
	padding:10px;
	color:#ffffff;
	
}
.topic4 h1{
	color:#ffffff;
    background:linear-gradient(to right,red,#000000);
}
.topic5{
	grid-column:1/5;
	padding:10px;
	color:#ffffff;
	grid-row-start:6;
	
}
.topic5 h1{
	color:#ffffff;
    background:linear-gradient(to right,red,#000000);
}

.images{
	display:flex;
    color:#ffffff;
	text-align:center;
}
.images{
	font-size:50px;
}