
/*body{

}*/





.index-bg{
	background-image:url(mage/lamp.png);
	background-repeat:no-repeat;
	background-size:100%;
}
/*.menu{
	display:flex;
	list-style:none;
	
}
.menu1{
	background:grey;
	
}*/
nav{
	
	color:#ffffff;
	width:100%;
	height:50px;
	
}
nav ul{
	margin:5px;
	padding:0%;
	
	color:#ffffff;
	
}
nav ul li{
	color:#ffffff;

	background:#000000;
	list-style:none;
	float:left;
	display:inline-block;
	/*margin:5px;
	padding:4px;*/
	line-height:50px;
	opacity:0.6;
	
}
 ul li a{
	text-decoration:none;
	padding:0 20px;
	color:#ffffff;
}
nav ul li a:hover{
	color:#000000;
	background-color:#ffffff;
	/*padding:7px;*/
	
	
	
	
}

/*nav div{
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
	text-decoration:none;
	opacity:0.6;
}*/
/*main{
	background-image:url(library.png);
	background-size:100%;
	background-repeat:no-repeat;
	width:1350px;
	height:550px;
	text-align:center;
	
	
}*/


.intro {

	color:#ffffff;
	text-align:center;
	padding:30px;
	font-size:18px;

	
}

.intro h1{
	font-size:3rem;
	/*background:linear-gradient(to right, red, #000000);*/
    color:#ffffff;

}

.intro p{
	background-color:#000000;
	opacity:0.6;
}
















.port-bg{
	background:linear-gradient(to right,#000000,red);
	margin:0px;
}


.place{
	margin-left:33%;
	color:#ffffff;
	display:flex;
	
}

/*.change{
	flex:column;
}*/
	

.contact{
	margin-top:30px;
	
}

.cv{
	margin-top:30px;
	
}
.sitereport{
	margin-top:30px;
	
}









.contacta-bg{
	/*background:linear-gradient(to right,#000000,red);*/
	margin:0px;
    background-image:url(mage/cont.png);
	background-repeat:no-repeat;
	background-size:100%;
	
}

.contactor{
	font-size:20px;
	background-color:#000000;
	color:#ffffff;
	text-align:center;
	opacity:0.6;
}
.contactor h1{
	font-size:40px;
	background:linear-gradient(to right,red,#000000);
	
}

.fname{
	display:flex;
	
}


.name{
	color:#ffffff;
	margin-left:130px;
	font-size:30px;
	/*background-color:#000000;
	opacity:0.6;
	padding:20px;*/
}

	

.adress{
	color:#ffffff;
	margin-left:90px;
	font-size:20px;
	background-color:#000000;
	opacity:0.6;
	padding:18px;
}
/*.mage{
	

	margin-left:70px;
}*/

form input[type="radio"]{
	display:none;
	
}
/*https://www.w3schools.com/css/css_form.asp*/
 .summit{
	height:60px;
	margin:45px 0;
}
.sumit input{
	width:100%;
	height:100%;
	background:linear-gradient(to right,red,#000000);
	outline:none;
	color:#ffffff;
	font-size:20px;
}
.sumit input:hover{
	background:linear-gradient(to right,blue,red);
}









/*.cv-bg{
	background:linear-gradient(to right,#000000,red);
	margin:0px;
}*/



.container{
	display: grid;
	grid-template-columns: 500px auto auto auto;
	grid-template-rows: 50px auto auto auto;
	/*grid-gap:10px;*/
	padding: 10px;
	text-align:justify;

}
.container> div{
	background-color:white;
}
/*https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column*/
.top{
	color:#ffffff;
	grid-column:1/5;
	
	text-align:center;
	padding: 10px;
	font-size:40px;
	background:linear-gradient(grey,#000000);

	
}
.item1{
	color:#ffffff;
	grid-row:2/4;
	padding:10px;
    background:linear-gradient(grey,#000000);
	
}
.item2{
	color:#000000;
	grid-column:2/5;
	grid-row:2/3;
	padding:10px;
	
	/*background:linear-gradient(to right,red,#000000)*/
}
.item3{
	color:#000000;
	grid-column-start:2;
	/*background:linear-gradient(to right,red,#000000);*/
	padding:10px;
	

}
.item4{
	color:#000000;
	grid-column:4/3;
    /*background:linear-gradient(to right,red,#000000);*/
	padding:10px;
	
}

.foot{
	text-align:center;
	color:#000000;
	grid-column:1/4;
	/*background:linear-gradient(to right,red,#000000);*/
	padding:10px;
	font-size:20px;
	
}
.item2 h1{
	text-align:center;
	background-color:#000000;
	color:#ffffff;
	font-size:50px;
}
.item3 h1{
	text-align:center;
	background-color:#000000;
	color:#ffffff;
	font-size:50px;
	
}
.item4 h1{
	text-align:center;
	background-color:#000000;
	color:#ffffff;
	font-size:50px;
	
}
.foot h1{
	font-size:50px;
	text-align:center;
	background-color:#000000;
	color:#ffffff;
}









.siter-bg{
	background:linear-gradient(#000000,red);
    /*background-image:url(glass.png);*/
	background-repeat:no-repeat;
	background-size:100%;
	margin:0px;
}

.site{
	color:#ffffff;
	text-align:center;
	
}



.date{
	color:#ffffff;
}


.sec{
	box-sizing:border-box;
	display:grid;
	grid-template-columns:500px auto auto  auto;
	grid-template-rows:50px auto auto auto ;
	grid-gap:10px;
	padding: 10px;
	text-align:justify;
	box-sizing:border-box;
	animation-name:example;
	animation-duration:40s;
	animation-delay:2s;
}
@keyframes example {
	0%{background-color:#ffffff;}
	25%{background-color:green;}
	50%{background-color:yellow;}
	75%{background-color:red;}
	100%{background-color:grey;}
}
.sec> div{
	background-color:#000000;
	
}
.topic{
	grid-column:1/5;
	box-sizing:border-box;
    color:#ffffff;
	padding:10px;
	text-align:center;
	font-size:34px;
	
}

.topic1{
	grid-row:3/6;
	background-color:#000000;
	text-align:center;
	color:#ffffff;
	padding:10px;
}
.topic1 h1{
	color:#ffffff;
    background:linear-gradient(to right,red,#000000);
}
.topic2{
	grid-column:2/4;
	grid-row:3/4;
	padding:10px;
	color:#ffffff;
	text-align:center;
}
.topic2 h1{
	color:#ffffff;
    background:linear-gradient(to right,red,#000000);
}
.topic3{
	grid-row:4/5;
	grid-column:2/4;
	padding:10px;
	color:#ffffff;
	
}
.topic3 h1{
	color:#ffffff;
    background:linear-gradient(to right,red,#000000);
}
.topic4{
	grid-row:5/5;
	grid-column:2/4;
	padding:10px;
	color:#ffffff;
	
}
.topic4 h1{
	color:#ffffff;
    background:linear-gradient(to right,red,#000000);
}
.topic5{
	grid-row-start:6;
	grid-column:1/5;
	padding:10px;
	color:#ffffff;
	
	
}
.topic5 h1{
	color:#ffffff;
    background:linear-gradient(to right,red,#000000);
}


.images{
	font-size:30px;
	color:#ffffff;
	text-align:center;
}
.logo{
	display:flex;
}
.validation{
	color:#ffffff;
	text-align:center;
}
.reference{
	font-size:18px;
	color:#ffffff;
	background:linear-gradient(to right,red,#000000);
	
}
.reference h1{
	font-size:35px;
	color:#ffffff;
	background:linear-gradient(to right,red,#000000);
	transition:4s;
	
}
.reference:hover{
	color:yellow;
	background:linear-gradient(to right,blue,red);
	
}
.cube{
	width:100%;
} 
.one{
	width:100%;
}
.two{
	width:100%;
}
.three{
	width:100%;
}	
.four{
	width:100%;
	
}

.seven{
	width:100%;	
}
.eight{
		
}
.nine{
	width:100%;
		
}


.ten{
    width:100%;
	}
.eleven{
	width:100%;	
}
.twelve{
	width:100%;	
}


















@media only screen and (max-width: 600px) {
	nav{
		height:20px;
	}
	nav ul li{
		
		
	    font-size:6px;
		display:inline;
		line-height:20px;
		width:30px;
		padding:1px;
	}
	
	
	
	.intro h1{
		font-size:12px;
		
	}
   .intro p{
		font-size:10px;
	}
  .place{
	  margin-left:15%;
	  
	  
  }
  
  
  
  
  
  
  .ind{
	  width:225px;
	  height:150px;
	  
  }
  .contact{
	  width:225px;
	  height:150px;
	  
  }
  .cv{
	  width:225px;
	  height:150px;
  }
  .sitereport{
	  width:225px;
	  height:150px;
  }
  
  
  
  
  
 
  
  .contactor h1{
	  font-size:10px;
	  
  }
  .contactor{
	  font-size:8px;
  }
  .name{
	margin-left:20px;
    font-size:10px;
	height:10px;
	width:70px;
	
	
  }

  .adress{
	
	margin-left:20px;
	font-size:7px;
	
	
    padding:6px;
	padding-bottom:1px;
	}
	.adress h1{
		font-size:9px;
		
	}
	.summit{
	height:5px;
	margin:5px 0;
	
	}
	
	
	
	.summit input{
		height:5px;
		width:20px;
		
		font-size:5px;
	}
	
	
	
	
	
	
	
	
    .top{
	
	grid-column:1/3;
	
	text-align:left;
    width:250px; 
	font-size:10px;
	}
	.item1{
	font-size:6px;
	
	padding:1px;
	grid-column:1/3;
	grid-row:2/3;
	width:250px;
	
   
    }
	.item1 h1{
	font-size:10px;
	text-align:left;
	padding:1px;
	width:250px;
	
   
    }
	.adjust{
		height:80px;
		width:80px;
	}
	
    .item2{
	font-size:6px;	
	padding:1px;
	grid-column:1/3;
	grid-row-start:3;
	width:250px;
	
    }
	.item2 h1{
	font-size:10px;
	width:250px;
	padding:1px;
	text-align:left;
   
    }
    .item3{
	font-size:6px;
	padding:1px;
	width:250px;
    grid-column:1/3;
	grid-row-start:4;

    }
	.item3 h1{
	font-size:10px;
	text-align:left;
	padding:1px;
   width:250px;
    }
    .item4{	
	font-size:6px;
	padding:1px;
	grid-column:1/3;
	width:250px;
	grid-row-start:5;
    }
	.item4 h1{
	font-size:10px;
	text-align:left;
	padding:1px;
	width:250px;
   
    }

    .foot{	
	font-size:6px;
	padding:1px;
	grid-column:1/3;
	grid-row-start:span5;
	width:250px;
    }
	.foot h1{
	font-size:10px;
	text-align:left;
	padding:1px;
   width:250px;
    }
	
	
	
	
	
	
	
	.site{
		font-size:8px;
		text-align:left;
	}
	.date{
		font-size:7px;
	}
	.cube{
		width:250px;
		margin-left:0px;
		

		
	}
	.site h1{
		font-size:6px;
	}
	.topic{
	grid-column:1/3;
	
    text-align:left;
	padding:1px;
	text-align:left;
	font-size:7px;
width:300px;
	}

    .topic1{
	grid-row:2/3;
	grid-column:1/3;
	font-size:7px;
     text-align:left;
	width:300px;
   }
   .topic1 h1{
	font-size:8px;
	width:300px;
	text-align:left;
	
	
   }
   .github{
	   width:200px;
	   height:150px;
	   
   }
  
	
	.topic2{
	grid-column:1/3;
	grid-row-start:3;
	font-size:7px;
	width:300px;
	text-align:left;
	
    }
   .topic2 h1{
	font-size:9px;
	width:300px;
	text-align:left;
	
    }
   .topic3{
	grid-row-start:4;
	grid-column:1/3;
	font-size:7px;
	width:300px;
	
	text-align:left;
	
   }
   .topic3 h1{
	font-size:9px;
	width:300px;
	text-align:left;
    }
    .topic4{
	grid-row-start:5;
	grid-column:1/3;
	width:300px;
	font-size:7px;
	text-align:left;
    }
    .topic4 h1{
	font-size:9px;
	width:300px;
	text-align:left;
    }
    .topic5{
	grid-row-start:6;
	grid-column:1/3;
	font-size:7px;
	text-align:left;
	width:300px;
    }
    .topic5 h1{
		width:300px;
	font-size:9px;
	text-align:left;
    }
    .image1{
		font-size:10px;
		text-align:left;
		
	}
	.one{
		width:300px;
		height:190px;
	}
	.two{
		width:300px;
		height:190px;
	}
	.three{
		width:300px;
		height:190px;}
	.four{
		width:300px;
		height:190px;
	}
	.five{
		width:300px;
		height:190px;
	}
	.six{
		width:300px;
		height:190px;
	}
	.seven{
		width:300px;
		height:190px;
	}
	.eight{
		width:300px;
		height:190px;
		}
	.nine{
		width:300px;
		height:190px;
	}
	.ten{
		width:300px;
		height:190px;
	}
	.eleven{
		width:300px;
		height:190px;
		}
	.twelve{
		width:300px;
		height:190px;
		}
	.validation{
		font-size:9px;
		text-align:left;
	}	
	.thirteen{
		width:300px;
		height:190px;
	}
	.fourteen{
		width:300px;
		height:190px;
	}
	.fiveteen{
		width:300px;
		height:190px;
	}
	.sixteen{
		width:300px;
		height:190px;
	}
	.seventeen{
		width:300px;
		height:190px;
	}
	.eighteen{
		width:300px;
		height:190px;
	}
	.reference{
		font-size:5px;
		
	}
	.reference h1{
		font-size:7px;
	}
	.reference:hover{
		width:20px;
	}
	
	
}
	
